.myClass{
  display: none;
}

.container{
  /* width: 70%; */
  max-width: 755px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

input[readonly]{
  background-color: #E9ECEF;
  pointer-events: none;
}

.cateringSection{
  display: none;
}

.fa-save, .fa-edit, .fa-house{
  padding-right: 5px;
}

h1{
  text-align: center;
  padding: 20px 0px;
}

thead{
  border-bottom: black;
}

body{
  /* background: rgb(3,36,0);
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(11,93,29,1) 25%, rgba(55,189,19,1) 50%, rgba(11,93,29,1) 75%, rgba(3,36,0,1) 100%); */
  font-family: 'Montserrat', sans-serif;
  /* background: #87D68D; */
  /* #92c396 */
  /* color:white; */
}

.card{
  border: 1px solid black;
  border-radius: 3px;
  padding: 25px;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 2px;
}

/* .table-bordered {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
} */

/* td, th, tr{
  background-color: #92c396
} */