.myClass{
  display: none;
}

.container{
  /* width: 70%; */
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.table-container{
  margin: auto;
  padding: 0 5%;
}

td{
  vertical-align: middle;
}

input[readonly]{
  background-color: #E9ECEF;
  pointer-events: none;
}

.cateringSection{
  display: none;
}

.fa-save, .fa-edit, .fa-house{
  padding-right: 5px;
}

h1{
  text-align: center;
  padding: 20px 0px;
}

thead{
  border-bottom: black;
}

body{
  /* background: rgb(3,36,0);
  background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(11,93,29,1) 25%, rgba(55,189,19,1) 50%, rgba(11,93,29,1) 75%, rgba(3,36,0,1) 100%); */
  font-family: 'Montserrat', sans-serif;
  /* background: #87D68D; */
  /* #92c396 */
  /* color:white; */
}

.card{
  border: 1px solid #dee2e6;
  border-radius: 3px;
  /* padding: 25px; */
  padding-right: 5px;
  padding-left: 5px;
  width: 130px;
  height: 110px;
  display: inline-block;
  margin: 2px;
}

/* .table-bordered {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
} */

/* td, th, tr{
  background-color: #92c396
} */

.dayNumber{
  /* position: absolute; */
  /* top: 5px; */
  text-align: right;
  padding: 7px 7px 0px 0px;
}

.dateString{
  font-size: 0.7rem;
  text-align: center;
}

.dateString.green{
  color: green;
}

.editButton{
  position: absolute;
  text-align: center;
  padding-top: 5px;
  bottom: 20px;
  height: 20px;
  width: 120px;
}

.editbtn{
  width: 90%;
}

@media screen and (max-width: 700px) {
  .container.home{
    padding-left: 70px;
  }
}

@media screen and (max-width: 620px) {
  .container.home{
    padding-left: 65px;
  }
}

@media screen and (max-width: 470px) {
  .container.home{
    padding-left: 57px;
  }
}

@media screen and (max-width: 370px) {
  .container.home{
    padding-left: 120px;
  }
}

@media screen and (max-width: 280px) {
  .container.home{
    padding-left: 78px;
  }
}

@media screen and (max-width: 230px) {
  .container.home{
    padding-left: 55px;
  }
}