<%- include('../partials/pageHead') -%>
<body>
   <h1>Daily Sponsors</h1>
   <div class="container">
      <div class="row calendar-week">

         <div class="col-xs-1 card grid-cell">Day 1</div>
         <div class="col-xs-1 card grid-cell">Day 2</div>
         <div class="col-xs-1 card grid-cell">Day 3</div>
         <div class="col-xs-1 card grid-cell">Day 4</div>
         <div class="col-xs-1 card grid-cell">Day 5</div>
         <div class="col-xs-1 card grid-cell">Day 6</div>
         <div class="col-xs-1 card grid-cell">Day 7</div>
      </div>
      <div class="row">
         <div class="col-xs-1 card">Day 8</div>
         <div class="col-xs-1 card">Day 9</div>
         <div class="col-xs-1 card">Day 10</div>
         <div class="col-xs-1 card">Day 11</div>
         <div class="col-xs-1 card">Day 12</div>
         <div class="col-xs-1 card">Day 13</div>
         <div class="col-xs-1 card">Day 14</div>
      </div>
      <div class="row">
         <div class="col-md-1 card">Day 15</div>
         <div class="col-md-1 card">Day 16</div>
         <div class="col-md-1 card">Day 17</div>
         <div class="col-md-1 card">Day 18</div>
         <div class="col-md-1 card">Day 19</div>
         <div class="col-md-1 card">Day 20</div>
         <div class="col-md-1 card">Day 21</div>
      </div>
      <div class="row">
         <div class="col-md-1 card">Day 22</div>
         <div class="col-md-1 card">Day 23</div>
         <div class="col-md-1 card">Day 24</div>
         <div class="col-md-1 card">Day 25</div>
         <div class="col-md-1 card">Day 26</div>
         <div class="col-md-1 card">Day 27</div>
         <div class="col-md-1 card">Day 28</div>
      </div>
      <div class="row">
         <div class="col-md-1 card">Day 29</div>
         <div class="col-md-1 card">Day 30</div>
      </div>
   </div>
</body>
<%- include('../partials/pageTail') -%>